@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 400% 400%;
  animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Nunito", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0px 12px;
}

.brand img {
  width: 45px;
  padding: 0px 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 57vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ncs {
  text-shadow: 1px 1px 4px black;
}
.bottom {
  position: sticky;
  height: 102px;
  background-color: black;
  color: white;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 14px;
 display: flex;
 justify-content: center;
 gap: 10px;
}
.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 34px;
}
.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  width: 61%;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.timestamp {
  margin: 0 23px;
}
.timestamp i {
  cursor: pointer;
}

.songInfo {
  display: flex;
  justify-items: center;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  align-self: center;
  width: 400px;
  height: 30px;
  padding-left: 20px;
}

.masterSongName{
    padding-left: 20px;
    line-height: 2rem;
}

.copyright{
  display: flex;
  justify-content: center;
  font-size: 1rem;
}